@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: 'Dosis', 'Yaldevi', sans-serif;
}

ul {
  list-style: none;
}

a:link, a:visited {
  text-decoration: none;
}

.navbar__logo {
  width: 3rem;
}

footer {
  background-color: #929292;
  padding: 2rem;
}

footer .footer__logo {
  width: 6rem;
  height: 5.5rem;
  margin-left: 2rem;
  -webkit-box-shadow: #080837 3px 3px 3px;
          box-shadow: #080837 3px 3px 3px;
}

footer .footer__list {
  padding-left: 2rem;
}

footer .footer__list .footer__link {
  color: white;
}

footer .footer__list .footer__link:hover {
  color: #f7b792;
}

footer .footer__iconos {
  margin-top: 0.5rem;
}

footer .footer__iconos .footer__icon {
  color: white;
  margin: 0.5rem;
}

footer .footer__iconos .footer__icon:hover {
  color: #f7b792;
}

#logo {
  height: 15rem;
  width: 16rem;
  margin: 2rem;
}

.index__title {
  font-size: 3rem;
  margin: 3rem 0 3rem 0;
}

.index__texto {
  font-size: 1.5rem;
}

.index__more {
  margin: 3rem;
}

/****  ****/
.about__titulo {
  font-size: 3rem;
  margin: 3rem 0 3rem 0;
}

.about__nombre-img {
  background-color: #f8945f;
}

.about__nombre-img .about__img {
  max-height: 12rem;
  max-width: 12rem;
}

.about__nombre-img__mainChart {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__nombre-img__mainChart h2 {
  font-size: 2.5rem;
}

.about__texto {
  padding: 1rem;
}

.about__texto .about__texto__edu {
  text-align: right;
}

/**** EMPRESA ****/
.about__empresa {
  margin-top: 4rem;
}

.about__empresa .about__empresa__separador {
  height: 0.5rem;
  background-color: #5499C7;
}

.about__empresa .about__empresa__title {
  padding: 1rem;
}

.about__empresa .about__empresa__texto {
  font-size: larger;
  padding: 2rem;
}

/**** FEATURES ****/
.about__features {
  background: rgba(84, 153, 199, 0.2);
  padding: 0 3rem 3rem 3rem;
}

.about__features .about__features__chart {
  text-align: center;
  padding-top: 2rem;
}

.about__features .about__features__title {
  margin: 1rem;
  color: #fa6706;
  text-shadow: 0.05rem 0.05rem 0.1rem #0d0364;
}

/**** FRASE ****/
.about__frase {
  margin-top: 1rem;
  text-align: center;
}

.about__frase .about__frase__chart {
  border: rgba(250, 103, 6, 0.2) solid 3px;
  border-radius: 3rem;
  -webkit-box-shadow: 0.5rem 0.5rem 0.1rem #fa6706;
          box-shadow: 0.5rem 0.5rem 0.1rem #fa6706;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin: 3rem 0 4rem 0;
  font-weight: bold;
  font-size: xx-large;
}

/********** PANTALLA GRANDE **********/
@media screen and (min-width: 768px) {
  .about__tools {
    height: 5rem;
  }
  .about__img {
    width: 12rem;
  }
  .about__texto {
    height: 20rem;
  }
  .about__texto .about__texto__p {
    margin-top: 3rem;
  }
}

.trabajos__title {
  font-size: 3rem;
  margin: 3rem 0 3rem 0;
}

.trabajos__chart {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "A A A B B C C C" "A A A B B C C C" "D D E E E C C C" "D D E E E C C C" "D D F F G G H H";
  -ms-grid-rows: 5rem 5rem 5rem 5rem 5rem;
      grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
  margin: 3rem;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.trabajos__chart .imgA {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: A;
  background-color: lawngreen;
}

.trabajos__chart .imgB {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: B;
  background-color: #1858cf;
}

.trabajos__chart .imgC {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-area: C;
  background-color: lightcoral;
}

.trabajos__chart .imgD {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: D;
  background-color: #bd0a0a;
}

.trabajos__chart .imgE {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: E;
  background-color: #80e3f0;
}

.trabajos__chart .imgF {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: F;
  background-color: #f080c5;
}

.trabajos__chart .imgG {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: G;
  background-color: #f0df80;
}

.trabajos__chart .imgH {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-area: H;
  background-color: #80f0c1;
}

.contacto__title {
  font-size: 3rem;
  margin: 3rem 0 3rem 0;
}

.contacto__texto {
  margin-top: 2rem;
}

.contacto__icon {
  color: grey;
}

.contacto__icon .bi {
  margin: 2rem;
}

.contacto__icon:hover {
  color: #e75e35;
}

.mapa__title {
  font-size: 3rem;
  margin: 3rem 0 3rem 0;
}

.mapa__separador {
  height: 0.5rem;
  background-color: #5499C7;
}

.mapa__lista {
  font-size: 2rem;
  padding: 2rem;
}

.mapa__lista .mapa__icon {
  margin-right: 1rem;
}

.mapa__lista .mapa__link {
  color: black;
}
/*# sourceMappingURL=style.css.map */