.contacto__title{
    @include sectionTitle;
}

.contacto__texto{
    margin-top: 2rem;
}
.contacto__icon{
    color: grey;

    .bi{
        margin: 2rem;
    }
}

.contacto__icon:hover{
    color: rgb(231, 94, 53);
}