.mapa__title{
    @include sectionTitle;
}

.mapa__separador{
    height: 0.5rem;
    background-color: #5499C7;
}

.mapa__lista{
    font-size: 2rem;
    padding: 2rem;

    .mapa__icon{
        margin-right: 1rem;
    }

    .mapa__link{
        color: black;
    }
}